h1 {
    border: 1px solid black;
}

.row {
    padding: 5px;
}

div.form-group {
    border: 1px solid black;
    width: 100%;
}
div.row{
    padding: 10px;
}
input[type=text]{
    margin: 10px;
}
#response{
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    font-size: 30px;
}